@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-light: hsla(0, 0%, 100%, 1);
    --foreground-dark: hsla(0, 0%, 0%, 1);
    --background-dark-soil: hsla(114, 10%, 19%, 1);
    --background-earthy-grape: hsla(295, 18%, 31%, 1);
    --background-purple: hsla(295, 19%, 65%, 1);
    --background-earthy-green: hsla(116, 46%, 43%, 1);
    --background-light-rose: hsla(0, 100%, 75%, 1);
    --background-sunny-rose: hsla(21, 57%, 90%, 1);
    --background-vibrant-pink: hsla(324, 78%, 55%, 1);
  }
}
